<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="./static/img/favicon.webp" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Voiper</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="side-bar">
      <div id="menu-container">
        <img src="./static/img/menu-icon.svg" alt="menu-icon" />
      </div>
      <div id="tools-container">
        <div id="routes-container">
          <img src="./static/img/routes-icon.svg" alt="routes-icon" />
        </div>
        <div id="users-container">
          <img src="./static/img/users-icon.svg" alt="users-icon" />
        </div>
        <div id="report-container">
          <img src="./static/img/report-icon.svg" alt="report-icon" />
        </div>
        <div id="settings-container">
          <div id="avatar-container">
            <img src="./static/img/avatar-icon.png" alt="avatar-icon" />
          </div>
          <div id="exit-container">
            <img src="./static/img/exit-icon.svg" alt="exit-icon" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
